/ {
	aliases {
		stepper = &h_bridge_stepper;
		stepper-motion-control = &stepper_motion_control;
	};
};

&timers7 {
	st,prescaler = <79>;
	counter: counter {
		status = "okay";
	};
};

/ {
	h_bridge_stepper: stepper {
		compatible = "zephyr,h-bridge-stepper";
		status = "okay";
		micro-step-res = <2>;
		gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>,	/* D4 */
			<&gpiob 4 GPIO_ACTIVE_HIGH>,	/* D5 */
			<&gpiob 14 GPIO_ACTIVE_HIGH>,	/* D6 */
			<&gpioa 8 GPIO_ACTIVE_HIGH>;	/* D7 */
	};

	stepper_motion_control: stepper_motion_control {
		compatible = "zephyr,stepper-motion-control";
		status = "okay";
		counter = <&counter>;
		stepper = <&h_bridge_stepper>;
	};
};
