# SPDX-FileCopyrightText: Copyright (c) 2024 Carl Zeiss Meditec AG
# SPDX-License-Identifier: Apache-2.0

menuconfig STEPPER_ADI_TMC
	bool "Trinamic Stepper Controller"
	depends on STEPPER
	default y
	help
	  Enable trinamic stepper controller

if STEPPER_ADI_TMC

comment "Trinamic Stepper Drivers"

rsource "Kconfig.tmc22xx"
rsource "Kconfig.tmc50xx"

endif # STEPPER_ADI_TMC
